:root {
  font-size: calc(0.5em + 1vw); }

* {
  box-sizing: border-box; }

:root {
  font-family: 'Roboto', sans-serif; }

.fontSize\(\+5\) {
  font-size: 3.05176em; }

.fontSize\(\+4\) {
  font-size: 2.44141em; }

.fontSize\(\+3\) {
  font-size: 1.95313em; }

.fontSize\(\+2\) {
  font-size: 1.5625em; }

.fontSize\(\+1\) {
  font-size: 1.25em; }

.fontSize\(0\) {
  font-size: 1em; }

.fontSize\(-1\) {
  font-size: 0.8em; }

.fontSize\(-2\) {
  font-size: 0.64em; }

.fontSize\(-3\) {
  font-size: 0.512em; }

.fontSize\(-4\) {
  font-size: 0.4096em; }

.fontSize\(-5\) {
  font-size: 0.32768em; }

.row {
  display: flex; }
  .row label {
    flex-grow: 1; }
  .row span {
    flex-grow: 2; }
