:root {
  font-size: calc(0.5em + 1vw);
  --baseScalar: 1.25;
  --scalar-5: 3.05176em;
  --scalar-4: 2.44141em;
  --scalar-3: 1.95313em;
  --scalar-2: 1.5625em;
  --scalar-1: 1.25em;
  --scalar-0: 1em;
  --scalar--1: 0.8em;
  --scalar--2: 0.64em;
  --scalar--3: 0.512em;
  --scalar--4: 0.4096em;
  --scalar--5: 0.32768em; }

* {
  box-sizing: border-box; }

:root {
  font-family: 'Roboto', sans-serif; }
